name: username_validator
description: A straightforward flutter username validator that provides common validation options.
version: 0.1.1
homepage: https://github.com/johnsonmima/username_validator

environment:
  sdk: ">=2.15.1 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0
